:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #938ac4,
    #f6c9ff
  );

  .VPSocialLinks.VPNavBarSocialLinks.social-links {
    margin-right: 0;
  }
}
